@model Ecommerce.Presentation.Models.DashboardViewModel
@{
	ViewBag.Title = "Home Page";
}

<div id="thmg-slider-slideshow" class="thmg-slider-slideshow">
	<div class="container">
		<div id='thm_slider_wrapper' class='thm_slider_wrapper fullwidthbanner-container'>
			<div id='thm-rev-slider' class='rev_slider fullwidthabanner'>
				<ul>
					<li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/Content/images/slide-img1.jpg'>
						<img src='/Content/images/slide-img2.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="slider-image1" />
						<div class="info">
							<div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='0' data-y='180' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'><span>Fresh Food</span></div>
							<div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='0' data-y='240' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'>Simply <span>delicious</span></div>
							<div class='tp-caption sfb  tp-resizeme ' data-x='0' data-y='470' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='#' class="buy-btn">Shop Now</a></div>
							<div class='tp-caption Title sft  tp-resizeme ' data-x='0' data-y='360' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'>We supply highly quality organic products</div>
						</div>
					</li>
					<li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/Content/images/slide-img3.jpg'>
						<img src='/Content/images/slide-img3.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="slider-image2" />
						<div class="info">
							<div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='0' data-y='180' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'><span>Fresh Look</span></div>
							<div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='0' data-y='240' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'><span>100%</span> Organic</div>
							<div class='tp-caption sfb  tp-resizeme ' data-x='0' data-y='470' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='#' class="buy-btn">Shop Now</a></div>
							<div class='tp-caption Title sft  tp-resizeme ' data-x='0' data-y='360' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'>Farm Fresh Produce Right to Your Door</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>


@foreach (var item in Model.Categories)
{
	<section class="best-sell">
		<div class="best-pro slider-items-products container">
			<div class="new_title">
				<h2>@item.CategoryName</h2>
				<p>@item.CategoryDescription</p>
			</div>
			<div id="best-seller" class="product-flexslider hidden-buttons">
				<div class="slider-items slider-width-col4 products-grid">

					@foreach (var product in item.Products)
					{
						<div class="item">
							<div class="item-inner">
								<div class="item-img">
									<div class="item-img-info">
										<a href="/Product/ProductDetail/@product.ID" title="Fresh Organic Mustard Leaves " class="product-image"><img src="/Content/products-images/p12.jpg" alt="Fresh Organic Mustard Leaves "></a>
										@*<div class="new-label new-top-left">Hot</div>
											<div class="sale-label sale-top-left">-15%</div>*@
										<div class="item-box-hover">
										</div>
									</div>
									<div class="add_cart">
										<button onclick="AddBasket(@product.ID)" class="button btn-cart" type="button"><span>Sepete Ekle</span></button>
									</div>
								</div>
								<div class="item-info">
									<div class="info-inner">
										<div class="item-title"><a href="/Product/ProductDetail/@item.ID" title="Fresh Organic Mustard Leaves ">@product.ProductName</a> </div>
										<div class="item-content">
											<div class="rating">
												<div class="ratings">
													<div class="rating-box">
														<div class="rating" style="width:80%"></div>
													</div>
													<p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
												</div>
											</div>
											<div class="item-price">
												<div class="price-box"><span class="regular-price"><span class="price">@product.UnitPrice TL</span> </span> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					}

				</div>
			</div>
		</div>
	</section>

	<br />
	<br />
	<hr />
}



<div id="top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="figure banner-with-effects effect-sadie1 banner-width  with-button" style="background-color:#ffffff">
					<img src="/Content/images/banner-img1.jpg" alt="promotion-banner1">
					<div class="figcaption">
						<div class="banner-content left top">
							<span class="small-title">Organic Life</span><br>
							<span class="big-title">
								Fresh, Quality and <br>
								Natural
							</span>
							<a href="" class="btn_type_1" rel="nofollow">Read more</a>
						</div>
					</div>
				</div>



			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="figure banner-with-effects effect-sadie1 banner-width  with-button" style="background-color:#ffffff">
					<img src="/Content/images/banner-img2.jpg" alt="promotion-banner1">
					<div class="figcaption">
						<div class="banner-content left top">
							<span class="small-title green-color">Healthy Life</span><br>
							<span class="big-title dark-gray-color">Orange, Fresh and<br> healthy</span>
							<a href="" class="btn_type_1" style="background:#fdce3a" rel="nofollow">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {




	<script>



		jQuery(document).ready(function () {
			jQuery('#thm-rev-slider').show().revolution({
				dottedOverlay: 'none',
				delay: 5000,
				startwidth: 0,
				startheight: 750,

				hideThumbs: 200,
				thumbWidth: 200,
				thumbHeight: 50,
				thumbAmount: 2,

				navigationType: 'thumb',
				navigationArrows: 'solo',
				navigationStyle: 'round',

				touchenabled: 'on',
				onHoverStop: 'on',

				swipe_velocity: 0.7,
				swipe_min_touches: 1,
				swipe_max_touches: 1,
				drag_block_vertical: false,

				spinner: 'spinner0',
				keyboardNavigation: 'off',

				navigationHAlign: 'center',
				navigationVAlign: 'bottom',
				navigationHOffset: 0,
				navigationVOffset: 20,

				soloArrowLeftHalign: 'left',
				soloArrowLeftValign: 'center',
				soloArrowLeftHOffset: 20,
				soloArrowLeftVOffset: 0,

				soloArrowRightHalign: 'right',
				soloArrowRightValign: 'center',
				soloArrowRightHOffset: 20,
				soloArrowRightVOffset: 0,

				shadow: 0,
				fullWidth: 'on',
				fullScreen: 'on',

				stopLoop: 'off',
				stopAfterLoops: -1,
				stopAtSlide: -1,

				shuffle: 'off',

				autoHeight: 'on',
				forceFullWidth: 'off',
				fullScreenAlignForce: 'off',
				minFullScreenHeight: 0,
				hideNavDelayOnMobile: 1500,

				hideThumbsOnMobile: 'off',
				hideBulletsOnMobile: 'off',
				hideArrowsOnMobile: 'off',
				hideThumbsUnderResolution: 0,

				hideSliderAtLimit: 0,
				hideCaptionAtLimit: 0,
				hideAllCaptionAtLilmit: 0,
				startWithSlide: 0,
				fullScreenOffsetContainer: ''
			});
		});
	</script>

}

